@font-face {
  font-family: segment7;
  src: url(./segment7/Segment7Standard.otf);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display {
  font-size: 48px;
  text-align: right;
  margin: 30px;
  padding: 10px;
  background-color:gray;
  font-family: segment7,monospace;
  font-weight: bolder;
}

.calculator {
  height: 75vh;
  width: 500px;
  display: flex;
  flex-direction: column;
  background-color: rgb(47, 79, 79);
  box-shadow: 5px 10px rgb(27, 59, 59);
  border-radius: 5px;
  
}

.buttonArea {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  flex: 1;
  padding:10px;
}

button {
  font-size: 36px;
  margin: 3px;
  box-shadow: 5px 10px;
  border-radius: 5px;
}

.operationButton {
  background-color: orangered;
}

.operationButton.dot,
.number {
  background-color: rgb(80,80,80);
}